# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Streamlit
.streamlit/

# VSCode
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Markdown hasil AI / catatan
perbaikan_sistem_pakar.md

# Temporary files
temp/
tmp/